/* Para más de 1200px */  
@media only screen and (max-width:1700px) and (min-width: 1281px) {  
.tribe-events-organizer .tribe-events-organizer-meta {
    margin-top: -50px;
	  margin-left: 310px;
}  
p.tribe-events-back:first-child {
    margin-left: 80px;
    margin-top: 50px;
}
} 

/* Para más de 1200px */  
@media only screen and (max-width:1280px) and (min-width: 981px) {  
.tribe-events-organizer .tribe-events-organizer-meta {
    margin-top: -15px;
}  
p.tribe-events-back:first-child {
    margin-left: 80px;
    margin-top: 30px;
}
} 
	
/* Para 960px */  
@media only screen and (max-width: 980px) and (min-width: 821px) {  
.tribe-events-organizer .tribe-events-organizer-meta {
    margin-top: -15px;
}  
p.tribe-events-back:first-child {
    margin-left: 80px;
    margin-top: 30px;
}
}  
  
/* Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 621px) {  
.tribe-events-organizer .tribe-events-organizer-meta {
    margin-top: 15px;
}  
p.tribe-events-back:first-child {
    margin-left: 80px;
    margin-top: -50px;
}
}  
  
/* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
.tribe-events-organizer .tribe-events-organizer-meta {
    margin-top: 15px;
}   
p.tribe-events-back:first-child {
    margin-left: 80px;
    margin-top: -60px;
}
}  
  
/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
.tribe-events-organizer .tribe-events-organizer-meta {
    margin-top: 15px;
}   
p.tribe-events-back:first-child {
    margin-left: 80px;
    margin-top: -60px;
}
}  
  
/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
.tribe-events-organizer .tribe-events-organizer-meta {
    margin-top: 15px;
}   
p.tribe-events-back:first-child {
    margin-left: 80px;
    margin-top: -60px;
}
} 