/* Font Google - strong reaload time */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900&subset=latin,latin-ext);

body { 
    line-height: 1; 
    color:#1B2545;
    height= 80%;
    width= 80%;
} 
ul{ 
    list-style: square;
    color: white; 
    line-height: 20px;
} 

dl{ 
    list-style: lower-roman;
    color: white; 
    line-height: 20px;
} 
ol{ 
    list-style-type: lower-alpha;
    color: white; 
    line-height: 20px;
} 

pre{
    color:white;
}
table, tr, td { 
    border-collapse: separate;
    color: white;
    border: 1px solid;
    text-align:center;
    text-align:center;
    width: 50%
}
pre{
    line-height: 20px;
}

html, body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:15px;
  color:black;
  font-weight:400;
  height:100%;
}

a{
  text-decoration:none;
  outline:none;
}

h1{
  font-size:50px;
  color:#615B5B;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

p{
  font-size:19px;
  color:#615B5B;
  margin-top:50px;
}


h1 span{
  color:#550000;
}
p span{
  color:#550000;
}

.principal{
  position:relative;
  margin: 0 auto;
  width:80%;
  height:100%;
  color:#c60000;
}

/* cabecera */

.cabecera{
  margin: 0 auto;
  color: #c60000;
  width:100%;
  height:500px; 
}


.cabecera .opacity{
  position:absolute;
  margin:0 auto;
  width:100%;
  height:500px;
  color:#c60000;
}

.cabecera .opacity h1{
  position:absolute;
  text-align:center;
  margin:auto;
  top:0; 
  left:0; 
  bottom:0; 
  right:0;
  width:100%;
  height:250px;
  color: #fff;
}

.clear{
  clear: both;
}

/* Navegación */

.navega{
  position:left;
  width:100%;
  height:50px;
  background:#c60000;
}

.navega-contenido .logo {
   background:#c60000;
   width:80px;
   height: 80px;
   float:right;
   margin-right: 60px;
 }

.navega-contenido ul{
  margin-top: 60px;
  float:left;
}

.navega-contenido li {
  width:100%;
  font-size:15px;
  background:#c60000;
  display: flex;
  flex-direction: column;
 }

.navega-contenido li:hover {
  color:#f3f3f3;
 }

.navega-contenido li a{
  color:#fff;
  font-size:15px;
  padding: 30px;
  line-height:5px;
}

.navega-contenido li.active a{
  background-color:#c60000;
}

.navega-contenido li a:hover{
  color:#000;
}

.clear{
  clear: both;
}
/* Secciones */

.seccion{
  width:70%;
  margin-top:50px;
  float: right;
}

.seccion h1{
  font-size:50px;
  color:#000;
  text-align:center;
  margin-top:30px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.seccion hr{
  color:#03091c;
  margin-top:30px;
  margin-bottom: 30px;
  margin: 0 auto;
  background-color: black;
  height: 3px;
  width:340px;
  border:0;

}

.seccion h2{
  text-align:center;
  margin-top:80px;
  margin: 0 auto;
  font-size:29px;
  color:#03091c;
  line-height:1.2;
  width:100%;
  position:relative;
  font-weight:bold;
}

.clear { 
    clear:both; 
}

/* Pie */

.pie{
  position:relative;
  width:100%;
  height:70px;
  background:#c60000;
  margin-top: 10px;

}

.pie  .menu{
  width:55%;
  margin:0 auto;
  float:left;
}

.pie  .copyright{
  width:40%;
  margin:0 auto;
  text-align:right;
  float:left;
  line-height:90px;
  padding-right:30px;
  color:#fff;
}

.pie  .menu a{
  line-height:90px;
  padding-left:30px;
  color:#fff;
  font-size: 25px;
}

.pie  .copyright a{
  line-height:90px;
  padding-left:30px;
  color:#fff;
  font-size: 25px;
}

.pie  .menu a:hover{
  color:#fff;
  font-weight: bolder;
}

.pie  .copyright a:hover{
  color:#fff;
  font-weight: bolder;
}