#logo {
    position: relative;
    width: 160px;
    height: 160px;
    background: url(../img/logo.png) no-repeat center center;
    margin: 10px;
}

#contenedor,
#imagenes {
    background-color: #ccffcc;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

#imagenes div {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../img/logo.png) no-repeat center center;
    margin: 10px;
}