#contenedor{
	width:900px;
	height:700px;
	position:absolute;	
	background-color: aquamarine;
	top:100px;
}

.agua{
	position: absolute;
}

.animal{
	width: 150px;
	height: 150px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center; 
}

#lifes{
	position:absolute;
}

.corazon{
	float:left;			
	width:150px;
	height:150px;
	background-image:url(img/star.jpg);
	background-repeat:no-repeat;
	background-position: center; 
}